p#pogrubienie_strafun{
    font-size: calc(25+7px);
    color: #845DD3;
    font-weight: bold;
}
p#pochylona_strafun{
    font-size: calc(30+7pt);
    color: #E8C16F;
    font-style: italic;
}
p#index_gorny_strafun{
    font-size: calc(0,5+0,1*7cm);
    color: #988F1F;
    vertical-align: super;
}

p#index_dolny_strafun{
    font-size: calc(0,5+0,2*7cm);
    color: #34F3E7;
    vertical-align: sub;
}
p#mono_strafun{
    font-family: monospace;
    font-size: calc(35+7px);
    color: #18DF6F;
}
p#powiekszenie_strafun{
    color: #523FA1;
    font-size: 150%;
}
p#pomniejszenie_strafun{
    color: #B6A33D;
    font-size: 50%;
}